* {
  
    box-sizing: border-box;
}
body {
    height: 100vh;
    padding: 0px 10px 0;
    margin:0 auto;

    text-align: center;

    transition: background-color 0.5s ease, color 0.5s ease;
    color: black;
    background-color: white;
}

.colon {
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.wrapper {
    display: inline-flex;
    flex-direction: column;
    width: 1020px;
    height: 700px;
    padding-top: 40px;
    border: 1px solid black;
}

#time {
    padding-top: 50px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 320px;
    font-weight: 500;
    line-height: 0.5;
}

.fz-210 {
    font-size: 200px;
}

#dayOfWeek {
    font-family: "Inter", sans-serif;
    color: rgb(161, 3, 3);
    line-height: 1;
}

#daytime {
  font-family: "Inter", sans-serif;
  font-size: 240px;
  line-height: 0.7;
}

.dark-mode {
    color: rgb(194, 191, 191);
    background: #272727;
}

