body {
    height: 100vh;
    padding: 50px 10px 0;
    margin:0 auto;

    text-align: center;
    text-transform: uppercase;

    transition: background-color 0.5s ease, color 0.5s ease;
    color: black;
    background-color: white;
}

.wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
}

#time {
    font-family: "Chakra Petch", sans-serif;    
    font-size:142px;
    font-weight: 500;
    line-height: 1;
}

#date {
    font-family: "Inter", sans-serif;
    font-size: 110px;
}

.dark-mode {
    color: rgb(194, 191, 191);
    background: #272727;
}